<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .screenshot_img {
            width: 400px;
            height: 250px;
        }
    </style>

</head>
<body>
    <div class="container body-content">
        <p>This page will be recieved their screenshot and rest status from client once every 5 minutes.</p>
        <hr />
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
